/* form */
.form {
  @apply w-full flex flex-col items-center justify-center gap-3;
}

.input-wrapper {
  box-shadow: 0 0 5px #b9b9b9;
  @apply w-full py-2.5 pl-4 pr-10 border border-gray-400 rounded-md;
}

.input {
  max-height: 240px;
  @apply w-full outline-none resize-none;
}

.form button {
  @apply absolute bottom-9 mr-0.5 -translate-y-[-50%] text-gray-600 duration-300 p-1.5 rounded-full;
}

.form button[type="submit"] {
  @apply right-1.5;
}

.form button:disabled:hover {
  @apply cursor-not-allowed;
}

.form:invalid button[type="submit"]:hover {
  @apply cursor-not-allowed;
}

.form:valid button[type="submit"]:enabled:hover {
  @apply text-gray-700 bg-gray-200;
}

/* scroll bar */
.input::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3rem;
}

.input::-webkit-scrollbar-thumb {
  background-color: #d9d9db;
  border-radius: 0.2rem;
}

.input::-webkit-scrollbar-corner {
  display: none;
}
